body {
    background-color: #222528;
    color: #fff;
}

.configContainer {
    vertical-align:top; 
    min-width: 650px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    padding: 2.5px;
    margin: 2.5px;
    display: inline-block;
}
.configDivider {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    padding: 0px;
    margin: 2.5px;
    display: inline-block;
}

.configContainer div {
    display:block;
    font-weight:bold;
}

.configContainer select {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 80px;
    border-color: #666666;
}

.configContainer label {
    float: left;
    width: 275px;
    padding-right: 5px;
    margin: 1px;
}

input {
    background-color: #505962;
    border-radius: 6px;
    border: 2px solid #1A1A20;
    color: #dfdfdf;
    margin: 1px;
}
input:hover {
    background-color: #555;
    border-color: #3590d0;
}
input[type="checkbox"] {
    margin: 5px;
    border-radius: 6px;
    border-color: #666666;
}
input[type="checkbox"]:hover {
    background-color: #555;
    border-color: #3590d0;
}
input[type="number"] {
    background-color: #505962;
    border-radius: 6px;
    border: 2px solid #1A1A20;
    color: #dfdfdf;
    width: 80px;
}
input[type="number"]:hover {
    background-color: #555;
    border-color: #3590d0;
}
.button {
    font: bold 12px Arial;
    text-decoration: none;
    background-color: #2f3439;
    color: #ddd;
    padding: 2px 6px 2px 6px;
    border-radius: 6px;
    border: 2px solid #1A1A20;
    cursor: pointer;
}
.button:hover {
    background-color: #555;
    border-color: #3590d0;
}

span {
    vertical-align: text-top;
}

.namedListOperation {
    background-color: #2f3439;
    border-radius: 6px;
    border: 2px solid #1A1A20;
    cursor: pointer;
    display: inline;
}
.namedListOperation:hover {
    background-color: #555;
    border-color: #3590d0;
}

.tab {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 2px solid #666666;
    background-color: #222629;
    color: #ddd;
    padding: 0px;
}
.tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0px;
}
.tab div:hover {
    background-color: #323639;
}
.tab div.active {
    background-color: #126ec3;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid #666666;
    border-top: none;
}

.configtable input[type="number"] {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    font-size: 20px;
}
.configtable input.selected {
    background-color:#3590d0;
}
.configtable select {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
}
.configtable {
    border-color: #666666;
    background-color: #222528;
    border-spacing: 0px;
    border: 1px;
    display: inline-block;
    border-style: solid;
}
.configtable th {
    vertical-align: text-top;
    padding: 2px;
    border: 1px;
    border-color: #666666;
    border-style: solid;
    white-space: nowrap;
}
.configtable td {
    vertical-align: text-top;
    padding: 0px;
    border: 1px;
    border-color: #666666;
    border-style: solid;
}
.configtable td.zlabel {
    border-right-style: sold; 
    border-right-width:5px; 
    border-bottom-style: sold; 
    border-bottom-width:5px;
    padding-left: 30px; 
    vertical-align: bottom; 
}
.configtable td.xylabel {
    border-right-style: sold; 
    border-right-width:5px; 
    border-bottom-style: sold; 
    border-bottom-width:5px;
}
.configtable td.yaxis {
    border-right-style: sold; 
    border-right-width:5px;
}
.configtable td.xaxis {
    border-bottom-style: sold; 
    border-bottom-width:5px;
}
.configtable td.yaxis input {
    width: 100%;
}
.configtable td.xaxislabel {
    text-align: center;
    white-space: nowrap;
}
.configtable td.yaxislabel {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}
.configtable td.yaxislabel div {
        -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
        -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
        margin-left: -10em;
        margin-right: -10em;
}

.gpiooverlayselect {
    position: absolute; 
    margin: 0;
}

select {
    background-color: #505962;
    border-radius: 6px;
    border: 2px solid #1A1A20;
    color: #dfdfdf;
}
select:hover {
    background-color: #555;
    border-color: #3590d0;
}

select .pinconflict{
    background-color:rgb(255, 0, 0);
}

.pinconflict{
    background-color:rgb(255, 128, 128);
}

.row_expand {
    height:5px; 
    cursor: ns-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col_expand {
    width:3px; 
    cursor: ew-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rowcol_expand {
    height:5px; 
    width:3px; 
    cursor: nwse-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
  }