.configContainer {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    padding: 2.5px;
    margin: 2.5px;
    display: inline-block;
}
.configContainer span,
.configContainer div {
    display:block;
    font-weight:bold;
}
.configContainer .sameLineSpacer {
    width: 40px;
    display: inline-block;
}
input {
    margin: 1px;
}
input[type="checkbox"] {
    margin: 5px;
    border-color: #666666;
}
input[type="number"] {
    width: 65px;
}
select {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 65px;
    border-color: #666666;
}

.configtable {
    border-color: #666666;
    border-spacing: 0px;
    border: 1px;
    display: inline-block;
    border-style: solid;
}
.configtable th {
    padding: 2px;
    border: 1px;
    border-color: #666666;
    border-style: solid;
    white-space: nowrap;
}
.configtable td {
    padding: 0px;
    border: 1px;
    border-color: #666666;
    border-style: solid;
}
.configtable select {
    border-style: none;
    margin: 0px;
    line-height: 20px;
}

.configContainer label {
    float: left;
    width: 200px;
    padding-right: 5px;
    margin: 1px;
}

.configContainer .subConfigSameLineLabel {
    width: 170px;
}
.configContainer .subConfigLabel {
    display: block;
    float: none;
}

.selected {
    background-color:rgb(204, 204, 255);
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 0px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}