.ui {
    --border-color: #666;
    --border-hover-color: #3590d0;
    --border-selected-color: #3590d0;
    --background-selected-color: #3590d080;
    --input-background-color: #505962;
    --border-width: 0.2em;
    --border-radius: 6px;
    --precision: 6;
    --text-color: #dfdfdf;
    --font: bold 1em Verdana,sans-serif;
    color: var(--text-color);
    font: var(--font);
    background-color: #1A1A20;
    display: inline-block;
}
.ui table {
    color: var(--text-color);
    font: var(--font);
    display: inline-block;
    --border-width: 0.1em;
    --border-axis-width: 0.25em;
}

input[type="number"]:hover {
    background-color: #666;
    border-color: #3590d0;
}

.ui .toolbar {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content:space-between;
}

.ui .container.resolution::before,
.ui .container.paste::before,
.ui .container.modify::before,
.ui .container.interpolate::before {
    color: var(--text-color);
    position: absolute; 
    top: -1em; 
    left: 0px;
    z-index:1;
}
.ui .container.resolution::before { content: "TableSize"; }
.ui .container.paste::before { content: "Paste Options"; }
.ui .container.modify::before { content: "Modify"; }
.ui .container.interpolate::before { content: "Interpolate"; }
.ui .container{
    position: relative;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    vertical-align:top; 
    padding: 0.1em;
    margin: 0.1em;
    display: inline-flex;
    justify-content: center;  
    align-items: center;
}
.ui .container.resolution,
.ui .container.paste,
.ui .container.modify,
.ui .container.interpolate {
    margin-top: 0.8em;
}

.ui .resolution-value,
.ui .modify-value,
.ui .modify-button,
.ui .paste-button {
    color: var(--text-color);
    background-color: var(--input-background-color);
    font-size: 1.5em;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    margin: 2px;
    width: 1em;    
    height: 1em;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    padding: 0;
}
.ui .paste-button {
    color: red;
}
.ui .paste-button {
    font-size: 1.5em;
}
.ui .resolution-value,
.ui .modify-value {
    cursor: default;
    width: 7em;
}
.ui .resolution-value {
    width: 5em;
}
.ui .resolution-value:hover,
.ui .modify-value:hover,
.ui .modify-button:hover,
.ui .paste-button:hover {
    border-color: var(--border-hover-color);
}
.ui .modify-button.selected,
.ui .paste-button.selected {
    border-color: var(--border-selected-color);
    background-color: var(--background-selected-color);
}
.ui .modify-button.add::before { position: absolute; content: "+"; }
.ui .modify-button.subtract::before { position: absolute; content: "-"; }
.ui .modify-button.multiply::before { position: absolute; content: "x"; }
.ui .modify-button.divide::before { position: absolute; content: "÷"; }
.ui .modify-button.percent::before { position: absolute; content: "%"; }
.ui .modify-button.equal::before { position: absolute; content: "="; }

.ui .paste-button::before { position: absolute; content: "📋"; }
.ui .paste-button.equal:after { position: absolute; content: "="; }
.ui .paste-button.add:after { position: absolute; content: "+"; }
.ui .paste-button.subtract:after { position: absolute; content: "-"; }
.ui .paste-button.multiply:after { position: absolute; content: "x"; }
.ui .paste-button.multiplyP:after { position: absolute; content: "%"; }
.ui .paste-button span {z-index: 1;}
.ui .paste-button sub,
.ui .paste-button sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.ui .paste-button sub {bottom:-0.25em}
.ui .paste-button sup {top:-0.5em}


.ui .modify-button.interpolatex::before,
.ui .modify-button.interpolatey::before {
    position: absolute;
    background: linear-gradient(-90deg, #ff0000 10%, #ffff00 37%, #00ff00 63%, #00ffff 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    content: "☰"
}
.ui .modify-button.interpolatey {
    transform: rotate(90deg);
}
.ui .modify-button.interpolatexy::before {
    position: absolute;
    background: linear-gradient(-45deg, #ff0000 20%, #ffff00 40%, #00ff00 60%, #00ffff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transform: scale(1.5);
    content: "■";
}


.ui table.numerictable {
    --cell-width: calc(var(--precision) * 0.78em);
    border-spacing: 0px;
    border-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui table.numerictable td {
    padding: 0px;
}
.ui table.numerictable input,
.ui table.numerictable div {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.ui table.numerictable tr td div.xaxis {
    display: flex;
}
.ui table.numerictable tr td div.yaxis {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--cell-width) + var(--border-width) + var(--border-axis-width));
}
.ui table.numerictable tr td div.value {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(calc(var(--cell-width) + 2 * var(--border-width)) * var(--xresolution));
}

.ui table.numerictable tr td.xydrag,
.ui table.numerictable tr td.xdrag,
.ui table.numerictable tr td.ydrag {
    background-color: var(--border-color);
}
.ui table.numerictable tr td.xydrag {
    cursor: nwse-resize;
    width: 0.3em;
}
.ui table.numerictable tr td.xdrag {
    cursor: ew-resize;
    width: 0.3em;
}
.ui table.numerictable tr td.ydrag {
    cursor: ns-resize;
    height: 0.3em;
}

.ui table.numerictable tr td div.value div,
.ui table.numerictable tr td div.yaxis div,
.ui table.numerictable tr td div.xaxis div {
    cursor: default;
    min-width: var(--cell-width);
    max-width: var(--cell-width);
    border: var(--border-width) solid var(--border-color);
    margin: 0px;
    padding: 0px;
}
.ui table.numerictable tr td div.value div.selected input,
.ui table.numerictable tr td div.yaxis div.selected input,
.ui table.numerictable tr td div.xaxis div.selected input,
.ui table.numerictable tr td div.value div.selected,
.ui table.numerictable tr td div.yaxis div.selected,
.ui table.numerictable tr td div.xaxis div.selected {
    border-color: var(--border-select-color) !important;
    background-color: var(--background-selected-color) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui table.numerictable tr td div.value div {
    background-color: hsl(calc(180 - (180 * (var(--data-value) - var(--valuemin)) / (var(--valuemax) - var(--valuemin)))), 60%, 50%);
    /* height: calc(180 - (180 * (attr(data-value number) - var(--valuemin)) / (var(--valuemax) - var(--valuemin)))); */
}
.ui table.numerictable tr td div.xaxis div {
    border-bottom-width: var(--border-axis-width);
}
.ui table.numerictable tr td div.yaxis div {
    text-align: right;
    border-right-width: var(--border-axis-width);
}

.ui table.numerictable tr td.xtrans {
    white-space: nowrap;
}
.ui table.numerictable tr td.xtrans div {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.ui table.numerictable tr td.xztrans {
    vertical-align: bottom;
}
.ui table.numerictable tr td.xztrans div {
    display: flex;
    flex-direction: column; 
    align-items: end;
}
.ui table.numerictable tr td.ytrans {
    white-space: nowrap;
    vertical-align: middle; 
    width: 2em;
    padding: 5px;
}
.ui table.numerictable tr td.ytrans div {
    position: absolute;
    transform-origin: 50% 50%;
    transform: translateX(-50%) rotate(-90deg) translateY(100%)
}